<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class=" bg-dark navbar-dark">
    <div class="container-fluid " >
      <div class="row">
      <div class="col-lg-6">
        <img src="/assets/images/1.png">
      </div>
      <div class="col-lg-6">
      <div style="text-align: end;padding-top: 25px;">
          <button class="nav-item nav-link-edit" [routerLink]="['home']">Home</button>&nbsp;
          <button class="nav-item nav-link-edit" [routerLink]="['login']">Login </button>&nbsp;
          <button class="nav-item nav-link-edit" [routerLink]="['sigin']">Sigin</button>
      </div>
    </div>
    </div>
    </div>
    </nav>
    
    <router-outlet></router-outlet>
    
</body>
</html>

